// rem
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


body {
    background: white; 
    color: black;
    font-family: 'Roboto', 'Raleway', 'PT Sans', Helvetica,  sans-serif;;
    font-size: 1.6rem;
    line-height: 1.6;
    height: 100%;
    margin: 0;
    width: 100%;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}